.repoTable {
    width: 100%;
}

.table_title {
    font-weight: 600;
    font-size: 32px;
}

.table_repo_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 112px;
    background: white;
    border-radius: 6px;
    margin: 24px 0;
    padding: 0 32px;
    overflow: hidden;
}

.table_repo_card a {
    color: #0064EB;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: 16px;
}

@media (max-width: 576px) {
    .table_repo_card {
        font-size: 14px;
    }

    .table_repo_card a {
        font-weight: 600;
        font-size: 16px;

    }
}

@media (max-width: 756px) {
    .repoTable {
        margin-top: 20px;
    }

    .table_title {
        font-size: 30px;
    }
}