.foundUser_wrapper {
    margin-top: 24px;
}
.foundUser_block{
    display: flex;
}
.foundUser_paginator{

}
@media (max-width: 576px) {
    .foundUser_block {
        flex-direction: column;
    }



}