.foundUser_wrapper {
    margin-top: 24px;
}

.foundUser_block {
    display: flex;
}
@media (max-width: 576px) {
    .foundUser_block {
        flex-direction: column;
    }
}
@media (max-width: 756px) {
    .foundUser_block {
        flex-direction: column;
    }
}