.foundUser_wrapper {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 24px;
}

@media (max-width: 576px) {
    .foundUser_wrapper {
        flex-direction: column;
    }



}